{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro - Tic Tac Toe</title>
    <link rel="shortcut icon" href="{% static 'images/LogoTicTacToe.svg' %}" type="image/x-icon">
    <meta name="author" content="Grupo#1">
    <meta name="keywords" content="html,Tic Tac Toe">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div>
        <div id="form-container-Grey">
            <div class="grey-container-info">
                <div class="info">
                <p>¡Bienvenido a la emocionante experiencia de Tic Tac Toe, donde la diversión y la estrategia se
                    encuentran en cada movimiento! Este juego ha sido cuidadosamente diseñado y desarrollado para
                    brindarte una experiencia única. Aquí te presentamos las opciones principales que ofrece el juego:
                </p>
                <h4>Registro de Usuarios:</h4>
                <ul>
                    <li>
                        Regístrate con un username, contraseña y correo electrónico para llevar un registro de tu
                        progreso.
                    </li>
                </ul>
                <center>
                <h2>Menú Principal</h2>
                </center>
                <h4>Buscar Partida:</h4>
                <ul>
                    <li>Crea tu propia sala de juego privada con un código exclusivo.</li>
                    <li>Invita a un amigo utilizando el código de sala.</li>
                    <li>Disfruta de un chat integrado para comunicarte con el otro jugador.</li>
                    <li>Inicia la partida cuando ambos jugadores estén en la sala.</li>
                  </ul>
                  <h4>Crear Partida Privada:</h4>
                  <ul>
                    <li>Encuentra oponentes al instante buscando partidas disponibles.</li>
                    <li>Una vez que se encuentra un oponente, ambos jugadores son llevados al tablero de juego.</li>
                  </ul>
                  <h4>Ingresar con Código:</h4>
                  <ul>
                    <li>Únete a una partida existente ingresando el código de sala proporcionado por el anfitrión.</li>
                    <li>Accede a la partida y el anfitrión podrá iniciar el juego.</li>
                  </ul>
                  <center>
                    <h2>Estadísticas</h2>
                    </center>
                  <h4>Generales:</h4>
                  <ul>
                    <li>Explora el puntaje general y las estadísticas de todas las partidas jugadas en el juego.</li>
                    <li>Clasificación: ¡Conquista el primer lugar para obtener la codiciada medalla de oro, seguido por la plata y el bronce!.</li>
                    <li>Visualiza los demás lugares numerados para cada jugador en el juego.</li>
                  </ul>
                  <h4>Personales:</h4>
                  <ul>
                    <li>Revisa tus propias estadísticas detalladas, incluyendo partidas ganadas, perdidas y empatadas.</li>
                    <li>Mantén un registro personal de tu progreso y mejora con cada partida.</li>
                  </ul>
                  <h4>Tic Tac Toe ha sido posible por la pasión y dedicación de los creadores:</h4>
                  <!-- contenedor azul -->
                <div class="contenedor-azul">
                  <div style="display: flex; flex-flow: row wrap; justify-content: center;">

                      <div class="card1">
                          <img src="{% static 'images/ArmandoLozano.png' %}" alt="Developer" width="150px" height="auto">
                          <div class="card-info">
                              <h4>Ing. Armando Lozano</h4>
                          </div>                    
                      </div>
                      <div class="card2">
                        <img src="{% static 'images/ElsyAmaya.png' %}" alt="Developer" width="150px" height="auto">
                        <div class="card-info">
                            <h4>Ing. Elsy Amaya</h4>
                        </div>
                    </div>
                    <div class="card1">
                      <img  src="{% static 'images/ElvinMolina.png' %}" alt="Developer" width="150px" height="auto">
                      <div class="card-info">
                          <h4>Ing.  Elvin Molina</h4>
                        
                      </div>
                  </div>
                  
                      <div class="card2">
                          <img src="{% static 'images/EstefanyCruz.png' %}" alt="Developer" width="150px" height="auto">
                          <div class="card-info">
                              <h4>Ing. Estefany Cruz</h4>
                          </div>
                      </div>
                      <div class="card1">
                        <img src="{% static 'images/EnrriquePacheco.png' %}" alt="Developer" width="150px" height="auto">
                        <div class="card-info">
                            <h4>Ing.  Enrrique Pacheco</h4>
                           
                        </div>
                    </div>
                    
                    <div class="card2">
                        <img src="{% static 'images/JorgeMeraz.png' %}" alt="Developer" width="150px" height="auto">
                        <div class="card-info">
                            <h4>Ing. Jorge Meraz</h4>
                           
                        </div>
                    </div>

                      <div class="card1">
                          <img src="{% static 'images/LuisRodriguez.png' %}" alt="Developer" width="150px" height="auto">
                          <div class="card-info">
                              <h4>Ing. Luis Rodriguez</h4>
                          </div>
                      </div>
                      <div class="card1">
                        <img src="{% static 'images/NestorCastaneda.png' %}" alt="Developer" width="150px" height="auto">
                        <div class="card-info">
                            <h4>Ing. Nestor Castañeda</h4>
                      
                        </div>
                    </div>
                     
                  </div>
              </div>
                  
                  <h4>¡Prepárate para sumergirte en la emoción del Tic Tac Toe y demuestra que eres el maestro indiscutible del tres en línea!</h4>
            </div>
        </div>
        </div>
        <!-- Modifica tu actual sección de botones -->
        <div class="row" id="button-back-container">
        
                <a href="{% url 'menu:menu' %}" class="back-button" id="myButton">
                    <img src="{% static 'images/atras.svg' %}" alt="Salir" width="35" height="35">
                </a>
          
        </div>
        <div class="row" id="button-logo-form-room">
            <button class="logo-button">
                <img src="{% static 'images/LogoTicTacToe.svg' %}" alt="logo_TicTacToe" width="90%">
            </button>
        </div>
        
    
    
    </div>
    <footer>
        <div class="row">
            <p style="display: flex; align-items: center;">Copyright 2023 | Programación Sistemas Abiertos I - Grupo N°1
            </p>
        </div>
    </footer>
</body>
<script>
    var myButton = document.getElementById("myButton");
  
    myButton.addEventListener("click", function() {
      var audio = new Audio("click.mp3");
      audio.play();
    });
  </script>

</html>