{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tic Tac Toe</title>
    <link rel="shortcut icon" href="{% static 'images/LogoTicTacToe.svg' %}" type="image/x-icon">
    <meta name="author" content="Grupo#1">
    <meta name="keywords" content="html,Tic Tac Toe">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div>
        <div class="row" id="button-home-container">
            <a href="{% url 'autenticacion:sign-up' %}">
                <button class="blue-button">Registrarse</button>
            </a>
              
            <a href="{% url 'autenticacion:login' %}">
                <button class="red-button">Iniciar sesión</button>
            </a>
                        
        </div>
        <div class="row" id="logo-container">
            <img src="{% static 'images/LogoTicTacToe.svg' %}" alt="logo_TicTacToe" width="35%">
        </div>
        <div class="row" id="container-info">
            <a href="{% url 'info:info' %}">
                <button class="green-button">
                    <img src="{% static 'images/info.svg' %}" alt="Info" width="35" height="35">
                </button>
            </a>
        </div>
    </div>
    <footer>
        <div class="row">
            <p style="display: flex; align-items: center;">Copyright 2023 | Programación Sistemas Abiertos I - Grupo N°1</p>
        </div>
    </footer>
</body>

</html>
